@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
body{
    font-family: 'Maven Pro', sans-serif !important;
    
}
.members {
    background: url(../images/wallpaper.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#memNav.sticky {
     position: fixed;
     top: 0;
     z-index: 9999999;
  }
.front-page-logo {
    color: #fff;
}
.front-page form{
    color: #fff
}
.input-field .dropdown-content li>span {
    
    color: #000;
}
 /* label color */
.input-field label {
 color: #000;
    paddding: 0.5em;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #b0b0b0;
}
.input-field input[type=email]:focus + label {
 color: #b0b0b0;
}
.input-field input[type=password]:focus + label {
 color: #b0b0b0;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=email]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=password]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid green;
 box-shadow: 0 1px 0 0 green;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid red;
 box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}
textarea {
    resize: none;
}
.np-padding {
    padding: 1em;
}
.np-padding-small {
    padding: 0.8em;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
option {
    
    color: #000;
}
.link-dark {
    color: #000;
}
.msg-success {

    color: green;
    
}
.msg-fail {
    
    color: red;
}
.fit-container {
    
    max-width: 100%;
    max-height: 100%;
    
}
a {
  color: #00B7FF;
}
.delete-button {
    float: right;
}
.card-panel {

    padding: 0.5em;
}